# nbconvert
#   https://nbconvert.readthedocs.io/en/latest/changelog.html
nbconvert==5.4.1 # rq.filter: >= 4.2


# notebook
#   https://jupyter-notebook.readthedocs.io/en/latest/changelog.html
notebook==5.7.4 # rq.filter: >=4.2

# Sphinx
#   http://www.sphinx-doc.org/en/stable/changes.html
sphinx==1.8.4 # rq.filter: >=1.3
